body {
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  margin: 0px;
}
#background {
  background: url("background.jpeg") no-repeat center;
  background-size: cover;
  height: 1000px;
}
nav {
  overflow: hidden;
  position: sticky;
}
nav li {
  padding: 0.3%;
  font-size: 103%;
}
.banner-text {
  margin-top: 70px;
  text-align: right;
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
}

img#naman {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  width: auto;
  padding: 5px;
}

.flex-container div {
  background-color: white;
  /*border-style: solid;*/
  margin: 5px;
  border: solid 1px;
  background-color: #d3d3d3;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.flex-container div img {
  width: 300px;
}

.emails {
  color: inherit;
  text-decoration: none;
  padding-bottom: 0;
  margin-bottom: 0px;
}

.icons a img {
  width: 50px;
  float: left;
  margin-top: 0;
  padding-top: 0px;
  padding-right: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.foot {
  font-size: 120%;
  background-color: #4c0f70;
  color: white;
  padding-left: 3%;
  padding-bottom: 6%;
  padding-top: 1%;
  margin-top: 1%;
}

h1 {
  text-align: center;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  -ms-transform: scale(1.25); /* IE 9 */
  -webkit-transform: scale(1.25); /* Safari 3-8 */
  transform: scale(1.25);
}

@media screen and (max-width: 800px) {
  li {
    float: none;
  }
  .flex-container {
    flex-direction: column;
  }
  ul {
    position: relative;
  }
  .foot {
    padding-bottom: 124%;
  }
}
