html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}

nav {
  position: sticky;
  width: 100%;
  z-index: 2;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  position: fixed;
  margin: 0;
  /* overflow: hidden; */
  width: 100%;
  background-color: #130902;
}

/* .navbar li {
  float: right;
} */

.navbar div a {
  display: block;
  color: white;
  text-align: center;
  padding: 19px 50px;
  text-decoration: none;
}

.navbar div a:hover {
  background-color: grey;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/backgorund-desk.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  margin: auto;
  font-size: 4vw;
  padding-top: 25vh;
  color: white;
  padding-bottom: 0;
  margin-bottom: 0;
}

.hero-border {
  padding: 5px;
  display: inline-block;
  border: solid 5px white;
}

.profile {
  border-radius: 100%;
  padding-top: 20px;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section {
  margin: 10px;
}

h1 {
  color: #117bfb;
  text-align: center;
  font-size: 4rem;
}

h2 {
  margin-left: 8%;
  font-size: 2rem;
  display: inline-block;
}

.underline {
  border-bottom: 2px solid white;
}

hr {
  display: none;
  border-color: #117bfb;
}

.about-me {
  padding-left: 10%;
  padding-right: 11%;
  text-align: justify;
  font-size: 1.5rem;
}

.logo {
  background-color: white;
  border-radius: 50%;
  max-width: 200px;
}

.edu-container {
  display: flex;
  flex-direction: row;
  /* border: 2px solid rgb(19, 0, 128); */
  justify-content: space-between;
  align-items: center;
}

.edu-left {
  border-right: 2px solid #117bfb;
  text-align: center;
  width: 30%;
  /* flex-grow: 1; */
}

.edu-right {
  /* border: 2px solid red; */
  width: 65%;
  font-size: 120%;
  /* flex-grow: 2; */
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .skill p {
  text-align: center;
  color: #117bfb;
} */

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
  font-size: 128px;
}

.contact-container a {
  color: white;
}

.foot {
  background-color: #117bfb;
  padding: 20px;
  text-align: center;
}

footer {
  margin-top: 50px;
}

@media screen and (max-width: 800px) {
  .newline {
    display: none;
  }

  .hero-text {
    font-size: 7vw;
    padding-top: 30vh;
  }

  .profile {
    width: 65%;
  }

  hr {
    display: block;
    width: 50%;
  }

  h2 {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .navbar {
    flex-direction: column;
    position: static;
    padding: 0;
  }

  .edu-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .edu-left {
    width: auto;
    font-size: 1rem;
    border: none;
  }

  .edu-right {
    font-size: 1.3rem;
  }

  .contact-container {
    font-size: 5rem;
  }
}
