html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: black;
  color: white;
}

nav {
  position: sticky;
  width: 100%;
  z-index: 2;
}

.navbar {
  position: fixed;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  background-color: #130902;
  padding-left: 0;
}

.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 19px 50px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/backgorund-desk.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  margin: auto;
  font-size: 4vw;
  padding-top: 25vh;
  color: white;
  padding-bottom: 0;
  margin-bottom: 0;
}

.hero-border {
  padding: 5px;
  display: inline-block;
  border: solid 5px white;
}

.profile {
  border-radius: 100%;
  padding-top: 20px;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section {
  margin: 10px;
}

h1 {
  color: #117bfb;
  text-align: center;
  font-size: 4rem;
}

h2 {
  margin-left: 8%;
  font-size: 2rem;
  display: inline-block;
  border-bottom: 2px solid white;
}

hr {
  border-color: #117bfb;
}

.line {
  /* display: inline-block; */
  background-color: #117bfb;
  width: 1px;
  height: 10vh;
  border: 1px solid white;
}

.logo {
  background-color: white;
  border-radius: 50%;
  max-width: 200px;
}

.edu-container {
  display: flex;
  flex-direction: row;
  /* border: 2px solid rgb(19, 0, 128); */
  justify-content: space-between;
  /* align-items: center; */
}

.edu-left {
  /* border: 2px solid green; */
  text-align: center;
  width: 30%;
  /* flex-grow: 1; */
}

.edu-right {
  padding-top: 10px;
  /* border: 2px solid red; */
  width: 65%;
  /* flex-grow: 2; */
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .skill p {
  text-align: center;
  color: #117bfb;
} */

/* .contact {

} */

.foot {
  background-color: #117bfb;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .hero-text {
    font-size: 7vw;
    padding-top: 30vh;
  }

  .profile {
    width: 65%;
  }

  hr {
    width: 50%;
  }

  h2 {
    text-align: center;
  }

  .navbar {
    position: static;
    padding: 0;
  }

  .navbar li {
    float: none;
  }

  .edu-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .edu-left {
    width: auto;
    font-size: 1rem;
  }

  .edu-right {
    font-size: 1.3rem;
  }
}
